#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: rgb(87, 171, 242);
}

img {
  width: 20%;
}

button {
  margin-top: 11px;
  background-color: rgb(87, 171, 242);
  color: white;
  border-color: white;
  height: 45px;
  width: 170px;
  border-radius: 20px;
  border-style: solid;
  font-size: 14px;
}

button:hover {
  background-color: white;
  color: rgb(87, 171, 242);
  border-color: rgb(87, 171, 242);
}

#DMQ {
  background-color: black;
}

#DMQ:hover{
  background-color: white;
  color: black;
  border-color: black;
}

#TQ:hover{
  color: red;
  border-color: red;
}

button:focus {
  outline: none;
}

#text {
  margin-right: 20px;
  margin-left: 20px;
}

container{
  position: absolute;
  right: 0;
  left: 0;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  bottom: 35px;
}